*{
    margin:0;
    padding:0;
}

.sidebar{
    background-color: rgb(179, 168, 168);
    height: 100vh;
    transition: transform 0.3s ease-in;      
    position: absolute;      
} 

.sidebar nav{
    padding: 40px;
} 

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}  

.sidebar nav li a{
    color: black;
    text-decoration: none;

}

.main{ 
    background-color: rgb(246, 246, 246);
    width: 100vw;
    margin-left: 150px;
}

.container{
    display: flex;
}

.infoContainer
{
    background-color: rgb(161, 161, 162);
    width: 80vw;
    height: 85vh;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.hello{
    font-size: 3.5em;
    font-weight: bold;
}

.name{
    font-size: 3.5em;
}

.about{
    font-size: 45px;
    font-weight: bold;
}

.moreAbout{
    margin-top: 15px;
    font-size: 30px;
    font-style:oblique;
    font-weight: bold;

}

.buttons{
    margin-top: 35px;
}

.btn{

padding: 9px 14px;
border-radius: 22px;
color: white;
background-color: rgb(78, 141, 67);
font-weight: bold;
font-size: 21px;
margin: 2px;
cursor: pointer;
margin-left: 15px;
}

.btn-sm{
    font-size: 17px;
    padding: 10px 19px;
    margin: 12px 0;
   
}
  
.btn:hover{
    color:rgb(78, 141, 67);
    background-color:white;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.devPic img{
   height: 65vh;
}

/* contact form style starts here */

.contactForm{

    padding: 0 100px;
    padding-top: 100px;

}

.contactForm header{
    font-size: 45px;
    padding: 12px 0 20px 0;
}

.contactForm form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    
}


.contactForm form div input {
  width: 24vw;
  border-radius: 5px;
  padding: 3px;
  margin: 6px 0 0 0;
    
}

#emailHelp
{
    color:  rgb(233, 23, 40);
    margin: 0 5px;
    font-size: 17px;
}

.form-label {

    font-size: 20px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 25px;
    margin: 3px 0;
    
}

/* introduction page */

.myIntro{
    margin-left: 180px;
}


.intro h2 {

margin: 12px;

}

.skillContainer{
    font-size: medium;
    margin-top: 15px;
        
}

.intro p {

    margin: 12px;
    font-size: 20px;

}

.preSkills {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin: 0 12px;
    display: flex;
}

.sidebarGo{
    transform: translate(-440px, 0px);
    position: absolute;
}

.ham{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-top: 8px;
    margin-left: -26px;
}

.bPage{
    font-size: 25px;
    
}

@media (max-width: 850px) {
    *{
        
    }
    /* .sidebar{
        transform: translate(-440px, 0px);
        position: absolute;
    } */

    .devPic{
        display: none;
    }
    
}

span{
    color: blueviolet;
}

  /* Optional: fade-in animation */
 
  .hello{
     animation: fadeIn 1.5s ease-in;
}

  .about{
     animation: fadeIn 1.5s ease-in;
}
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }